[submodule "dependencies/grafika"]
	path = dependencies/grafika
	url = https://github.com/PierceLBrooks/grafika.git
[submodule "dependencies/mruby"]
	path = dependencies/mruby
	url = https://github.com/PierceLBrooks/mruby.git
